<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>com.wushengde.response.OutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownServlet</servlet-name>
    <servlet-class>com.wushengde.response.DownServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.wushengde.response.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>com.wushengde.response.RefreshServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NOCacheServlet</servlet-name>
    <servlet-class>com.wushengde.response.NOCacheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CacheServlet</servlet-name>
    <servlet-class>com.wushengde.response.CacheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.wushengde.response.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.wushengde.response.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demo5</servlet-name>
    <servlet-class>com.wushengde.response.Demo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demo6</servlet-name>
    <servlet-class>com.wushengde.response.Demo6</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/servlet/OutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownServlet</servlet-name>
    <url-pattern>/servlet/DownServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/servlet/RefreshServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NOCacheServlet</servlet-name>
    <url-pattern>/servlet/NOCacheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CacheServlet</servlet-name>
    <url-pattern>/servlet/CacheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/servlet/RedirectServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo5</servlet-name>
    <url-pattern>/servlet/Demo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo6</servlet-name>
    <url-pattern>/servlet/Demo6</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
