<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <context-param>
 <param-name>context1</param-name>
 <param-value>contextvalue1</param-value>
 </context-param>
  <context-param>
 <param-name>context2</param-name>
 <param-value>contextvalue2</param-value>
 </context-param>
  <context-param>
 <param-name>context3</param-name>
 <param-value>contextvalue3</param-value>
 </context-param>
 <servlet>
  <servlet-name>MyFirstServlet</servlet-name>
  <servlet-class>com.wushengde.MyFirstServlet</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>SConfigServlet</servlet-name>
    <servlet-class>com.wushengde.SConfigServlet</servlet-class>
    <init-param>
  <param-name>name1</param-name>
  <param-value>value1</param-value>
  </init-param>
  <init-param>
  <param-name>name2</param-name>
  <param-value>value2</param-value>
  </init-param>
    <init-param>
  <param-name>name3</param-name>
  <param-value>value3</param-value>
  </init-param>
  </servlet>
  <servlet>
    <servlet-name>Demo01Servlet</servlet-name>
    <servlet-class>com.wushengde.Demo01Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demo02Servlet</servlet-name>
    <servlet-class>com.wushengde.Demo02Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demo03Servlet</servlet-name>
    <servlet-class>com.wushengde.Demo03Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demo04Servlet</servlet-name>
    <servlet-class>com.wushengde.Demo04Servlet</servlet-class>
  </servlet>

 <servlet-mapping>
  <servlet-name>MyFirstServlet</servlet-name>
  <url-pattern>/servlet/MyFirstServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SConfigServlet</servlet-name>
    <url-pattern>/servlet/SConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo01Servlet</servlet-name>
    <url-pattern>/servlet/Demo01Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo02Servlet</servlet-name>
    <url-pattern>/servlet/Demo02Servlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Demo02Servlet</servlet-name>
    <url-pattern>/Demo02Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo03Servlet</servlet-name>
    <url-pattern>/servlet/Demo03Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo04Servlet</servlet-name>
    <url-pattern>/servlet/Demo04Servlet</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
