<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.wushengde.web.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/servlet/ImageServlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ValiImg</servlet-name>
		<servlet-class>com.wushengde.web.ValiImg</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.wushengde.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wushengde.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.wushengde.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.wushengde.web.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMsgServlet</servlet-name>
    <servlet-class>com.wushengde.web.AddMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.wushengde.web.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.wushengde.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditEndServlet</servlet-name>
    <servlet-class>com.wushengde.web.EditEndServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllMsgServlet</servlet-name>
    <servlet-class>com.wushengde.web.FindAllMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.wushengde.web.AdminLogoutServlet</servlet-class>
  </servlet>










	<servlet-mapping>
		<servlet-name>ValiImg</servlet-name>
		<url-pattern>/servlet/ValiImg</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/servlet/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMsgServlet</servlet-name>
    <url-pattern>/servlet/AddMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/servlet/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEndServlet</servlet-name>
    <url-pattern>/servlet/EditEndServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllMsgServlet</servlet-name>
    <url-pattern>/servlet/FindAllMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/servlet/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
